{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
<div class="container">
    <h2>Are you sure you want to delete {{ user.username }} profile?</h2>
    <div class="col-md-1">
        <a href="{% url 'appointment:hr_dashboard' %}"><button class="btn btn-warning">Cancel</button></a>
    </div>
    <div class="col-md-1">
        <form method="POST">
            {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>   
</div>
{% endblock %}
